@page "/"
@using Microsoft.FluentUI.AspNetCore.Components

<PageTitle>BellsLibrary</PageTitle>

<FluentSpacer Width="50"></FluentSpacer>

<h1>BellsLibrary</h1>

<p>The best place to read a book...</p>

<FluentSpacer Width="50"></FluentSpacer>

<FluentGrid >
    <FluentGridItem xs="4">
        <FluentCard>
            <FluentSpacer Width="100" />
            <p><FluentAnchor Href="Book" Appearance="Appearance.Hypertext">Manage Books(s)</FluentAnchor></p>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="4">
        <FluentCard>
            <FluentSpacer Width="100" />
            <p><FluentAnchor Href="Loan" Appearance="Appearance.Hypertext">Manage Loans(s)</FluentAnchor></p>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="4">
        <FluentCard>
            <FluentSpacer Width="100" />
            <p><FluentAnchor Href="Login" Appearance="Appearance.Hypertext">Login</FluentAnchor></p>
        </FluentCard>
    </FluentGridItem>
</FluentGrid>
