@using Microsoft.FluentUI.AspNetCore.Components
<nav>
    <FluentNavMenu Width="250" Collapsible="true" Title="Custom navigation menu">
        <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icon.FromImageUrl("/images/home.svg")" IconColor="Color.Accent">Home</FluentNavLink>
        <FluentNavLink Href="Books" Icon="@(new Icons.Regular.Size20.BowlChopsticks())" IconColor="Color.Accent">Books</FluentNavLink>
        <FluentNavLink Href="Loans" Icon="@(new Icons.Regular.Size20.BowlSalad())" IconColor="Color.Accent">Loans</FluentNavLink>
    </FluentNavMenu>
</nav>

