@using Microsoft.FluentUI.AspNetCore.Components
<nav>
    <FluentNavMenu Width="250" Collapsible="true" Title="Custom navigation menu">
        <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
        <FluentNavLink Href="Book" Icon="@(new Icons.Regular.Size20.Book())" IconColor="Color.Accent">Books</FluentNavLink>
        <FluentNavLink Href="Loan" Icon="@(new Icons.Regular.Size20.BookArrowClockwise())" IconColor="Color.Accent">Loans</FluentNavLink>
    </FluentNavMenu>
</nav>

